.filter-container {
  display: flex;
  height: 100%;
}

.filter-div {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
  margin-top: 20px;
  width: 175px;
  margin-left: 10px;
  border: 1px solid rgb(161, 161, 161);
  display: flex;
  flex-direction: column;

  p {
    margin: 5px;
    color: rgb(127, 127, 127);
  }
}

.jobs-list {
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(161, 161, 161);
  width: calc(100% - 200px);
  margin: 20px 10px 0 10px;
  
  ul {
    background-color: white;
    border: none;
  }

  h2 {
    margin: 10px
  }
}

.material,
.color,
.min-size,
.max-size,
.filt-btn {
  margin: 5px;
  margin-bottom: 10px;
}

.min-size,
.max-size {
  margin-top: 10px;
}

.filters {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 5px;
  border: 1px solid rgb(192, 192, 192);
  padding: 5px;
}

.filter-bar label {
  flex-basis: 100px;
  text-align: left;
}

.filter-bar select {
  flex-basis: 200px;
}

.alert-message{
  position: fixed;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 512px; 
}