.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-div {
    flex: 1 1 auto;
    overflow-y: auto;
    background-color: #fff;
    width: 80vw;
    margin: 0 auto;
    padding: 10px 50px 10px 50px;
}

.jobs-tab thead tr {
    font-weight: bold;
}

.jobs-tab td {
    padding: 5px;
}

.jobs-tab td:nth-child(1) {
    width: 10%;
}
.jobs-tab td:nth-child(2) {
    width: 10%;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: rgb(243, 243, 243);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}